<h2>Dashboard</h2>
Signed in as <%= current_user.username %><br>

<%= form_for [current_user, @new_task] do |f| %>
	<%= f.label "Task content:" %>
	<%= f.text_field :content, :required => true %>
	<%= f.submit "Add task!" %>
<% end %>

<hr>
<% if @all_tasks == nil %>
	<strong><p> You have no task entries yet </p></strong>
<% else %>
	<h4>Your ToDo list:</h4>
	<table>
		<tr>
			<th>Task: </th>
			<th>Status: </th>
			<th></th>
		</tr>
		<% @all_tasks.each do |t| %>
		<tr>
			<td><%= t.content %></td>
			<td><%= task_status(t) %></td>
		</tr>
		<% end %>
	</table>
	<hr>
	<h4>Completed:</h4>
	<table>
		<tr>
			<th>Task: </th>
			<th></th>
		</tr>
		<% @all_tasks.each do |t| %>
		<tr>
			<td><%= t.content %></td>
		</tr>
		<% end %>
	</table>
<% end %>