<h2>Dashboard</h2> 
Signed in as <%= current_user.username %><br>

<strong>Add a new task</strong><br>
<%= form_for [current_user, @new_task] do |f| %>
	<%= f.label "Task content:" %><br>
	<%= f.text_field :content, :required => true %>
	<%= f.submit "Add task!" %>
<% end %>

<hr>
<% if @undone_tasks == nil %>
	<strong><p> You have no task entries yet </p></strong>
<% else %>
	<h4>Your ToDo list:</h4>
	<table>
		<tr>
			<th>Task: </th>
			<th>Status: </th>
			<th></th>
		</tr>
		<% @undone_tasks.each do |t| %>
		<tr>
			<td><%= t.content %></td>
			<td><%= task_status(t) %></td>
		</tr>
		<% end %>
	</table>
<% end %>
<hr>
<% if @done_tasks != nil %>
	<h4>Completed tasks:</h4>	
	<table>
		<tr>
			<th>Task: </th>
			<th></th>
		</tr>
	<% elsif @done_tasks.count > 1 %>
		<% @done_tasks.each do |t| %>
			<tr>
				<td><%= t.content %></td>
			</tr>
		<% end %>
	<% elsif @done_tasks.count == 1 %>
		<tr>
			<td><%= @done_tasks.content %></td>
		</tr>
	</table>
	<% elsif @done_tasks == nil %>
		<strong>You have no done tasks yet! Go get shit done!</strong>
<% end %>
